@font-face {
    font-family: LexendDeca;
    src: url(../../public/fonts/LexendDeca-Regular.ttf);
}

@font-face {
    font-family: SpaceMono;
    src: url(../../public/fonts/SpaceMono-Regular.ttf);
}